:root {
    --g1: #F7F7F7;
    --g2: #93DEFF;
    --card-color: rgb(23, 23, 23);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}

p
{
    font-size: large;
}

li
{
    font-size: large;
    list-style: square;
}

ul
{
    margin-left: 40px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

body {

    animation: background-pan 20s linear infinite;
    background-color: var(--g1);
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            var(--g2),
            rgba(0, 0, 0, 0)
    );
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    transition: background-color 1.2s;
}

body.toggled {
    animation: none;
    background-color: black;
    background-image: none;
    transition: background-color 1.2s;
}

body.toggled > #title {
    opacity: 0;
}

body.toggled > #icon {
    opacity: 1;
}

.background-image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../img/background/pxfuel.jpg") no-repeat center fixed;
    filter: opacity(20%);
    z-index: 899;
    pointer-events: none;
}

.night .background-image
{
    filter: opacity(10%);
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    cursor: pointer;
    position: relative;
}

.tile:before {
    background-color: #ffffff;
    content: "";
    inset: 0.6px;
    position: absolute;
}

.uiBackground
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    margin: 25px 25px 25px 25px ;
    /*border: solid 1px #b4b4b4;*/
    border: solid 1px black;
    border-radius: 5px;
    pointer-events: none;
    z-index: 900;
}
.night .uiBackground
{
    border-color: white;
}
.uiBackground2
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 90px);
    height: calc(100vh - 50px);
    margin: 25px 25px 25px 65px ;
    /*border-left: solid 1px #b4b4b4;*/
    border-left: solid 1px black;
    /*border-right: solid 1px #b4b4b4;*/
    pointer-events: none;
    z-index: 900;
}
.night .uiBackground2
{
    border-color: white;
}
.uiBackground3
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 50px);
    height: calc(100vh - 100px);
    margin: 25px 25px 25px 25px ;
    /*border-bottom: solid 1px #b4b4b4;*/
    border-bottom: solid 1px black;
    pointer-events: none;
    z-index: 900;
}
.night .uiBackground3
{
    border-color: white;
}

.content-background
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 90px);
    height: calc(100vh - 50px);
    margin: 25px 25px 25px 65px ;
    z-index: 1000;
}

.content
{
    padding-top: 20px;
    padding-left: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.content h2, h3, h4, h5, h6
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.content h1
{
    margin-bottom: 20px;
}

.nav-bar
{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.nav-links
{
    /*border-top: solid 1px #b4b4b4;*/
    /*border-bottom: solid 1px #b4b4b4;*/

    /*border-radius: 5px;*/
}

.nav-links ul
{
    display: flex;
    justify-content: space-between;
}

.nav-links li
{
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

/*.nav-links li:hover*/
/*{*/
/*    background-color: rgba(0, 0, 0, 0.1);*/
/*    transition: all 0.5s ease;*/
/*    border-radius: 10px 10px 10px 0;*/
/*}*/

.nav-links a
{
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    width: 100%;
}


body *
{
    transition: color 0.5s ease;
}

body.night *
{
    color: white;
    transition: color ease 1s;
}

#scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border-right: solid 5px transparent;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
}

#scrollbar::-webkit-scrollbar
{
    width: 15px;
}

#scrollbar::-webkit-scrollbar-thumb
{
    /*-webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.623);*/
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.62);

    border-radius: 10px;
    border-right: solid 5px transparent;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
}

.active
{
    text-decoration-line: underline;
}

.hackHover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.hackHover:hover::before {
    transform: scaleX(1) skew(-20deg);
    transform-origin: bottom left;
}

.hackHover::before {
    /*transform: skew(20deg);*/
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(0, 0%, 0%);
    z-index: -1;
    transition: transform .3s ease;
}

.night .hackHover::before
{
    background: hsl(0, 0%, 100%);
}

.hackHover {
    position: relative;
}

.hackHover:hover
{
    color: #ffffff;
}
.night .hackHover:hover
{
    color: black;
}

.underline
{
    margin-bottom:15px;
    padding-bottom: 5px;
    border-bottom: solid 1px #b4b4b4;
}

.details
{
    margin-left: 15px;
}

.gallery
{
    margin-left: 15px;
}

.gallery img
{
    max-width: 70%;
}

/*Index CSS*/

.icons
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.icons img
{
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    width: 50px;
    height: 50px;
    transition: filter 1s ease;
}

.night .icons img
{
    filter: brightness(0) invert(1);
    transition: filter 1s ease;
}

.icons img:hover
{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.icons img:active
{
    width: 50px;
    height: 50px;
}

.returnButton
{
    position: absolute;
    top: 25px;
    left: 25px;
    height: calc(100vh - 101px);
    width: 39px;
    cursor: pointer;
    border-top-left-radius: 5px;
    z-index: 998;
    border: solid 1px;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnButton:hover
{
    background-color: rgba(0, 0, 0, 0.45);
    transition: background-color 0.5s ease;
}

/*----------*/

/*Projets CSS*/
.projects ul
{
    margin-top: 20px;
    margin-left: 40px;
}

.projects li
{
    padding: 20px 0 20px 0;
}

.projects a
{
    padding: 0 15px 0 15px;
}

/*-----------*/

/*Contact CSS*/

.link:hover > a
{
    color: deepskyblue;
    transition: 0.2s ease;
}

/*--------------*/