<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="../../css/style.css">
  <script defer type="text/javascript" src="../../js/hackEffect.js"></script>
  <script defer type="module" src="../../js/background.js"></script>
  <script defer type="module" src="../../js/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

  <title>Mika CHUE WAYE | Island Runner</title>
</head>
<body>

<div id="tiles"></div>

<div class="uiBackground"></div>
<div class="uiBackground2"></div>
<div class="uiBackground3"></div>

<div class="content-background">

  <div class="content" id="scrollbar">
    <h1 class="underline fastHacked">project: Island runner (2023)</h1>
    <p>Island runner est un jeu que j'ai développé sous Unity en 24h en tant que test pour
       entrer en tant que stagiaire dans la boîte de jeux vidéo Awesome Game Company.</p>
    <div class="details">
      <h3 class="underline">détails</h3>
      <p>C'est un jeu de type "runner" et "stacker" destiné à être sur mobile,
        ayant pour but de récupérer assez de ressources pour s'échapper de l'île en vie.</p>
      <h3 class="underline">langages utilisés</h3>
      <ul>
        <li>c#</li>
      </ul>
    </div>
  </div>

  <nav class="nav-bar">
    <div class="nav-links">
      <ul>
        <li>
          <a class="hacked hackHover" href="../../index.html">ACCUEIL</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../cv.html">QUI SUIS-JE?</a>
        </li>
        <li>
          <a class="hacked hackHover active" href="../projets.html">MES PROJETS</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../contact.html">CONTACT</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

</body>
</html>