<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="../../css/style.css">
  <script defer type="text/javascript" src="../../js/hackEffect.js"></script>
  <script defer type="module" src="../../js/background.js"></script>
  <script defer type="module" src="../../js/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

  <title>Mika CHUE WAYE | Portfolio</title>
</head>
<body>

<div id="tiles"></div>

<div class="uiBackground"></div>
<div class="uiBackground2"></div>
<div class="uiBackground3"></div>

<div class="returnButton" onclick="window.open('../projets.html', '_self')"></div>

<div class="content-background">

  <div class="content" id="scrollbar">
    <h1 class="underline fastHacked">project: Mediatheque JavaScript</h1>
    <p>Dans le cadre de mon projet en Web: JavaScript du 4éme semestre, j'ai réalisé en équipe de 2 un site de médiathèque</p><br>
    <p><strong>Lien: </strong><a href="https://webinfo.iutmontp.univ-montp2.fr/~chuem/php/s4/ProjetMediatheque/src/mediatheque.html" class="link">Médiathèque JavaScript</a></p>
    <div class="details">
      <h3>détails :</h3>
      <p>Ce site web est doté d'une base de donnée sur laquelle on stocke les données de cette médiathèque propose les fonctionnalités de base d'une bibliothèque numérique en tant qu'administrateur :</p>
      <ul>
        <li>consulter les livres disponibles</li>
        <li>consulter les utilisateurs</li>
        <li>consulter les livres empruntés</li>
        <li>consulter les détails des emprunts (qui a emprunté quel livre / quel livre est emprunté par qui)</li>
        <li>emprunter un livre</li>
        <li>remettre un livre</li>
        <li>supprimer un utilisateur/livre/emprunt</li>
      </ul>
      <h3>langages utilisés :</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>SQL</li>
      </ul>
    </div>

  </div>

  <nav class="nav-bar">
    <div class="nav-links">
      <ul>
        <li>
          <a class="hacked hackHover" href="../../index.html">ACCUEIL</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../cv.html">QUI SUIS-JE?</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../projets.html">MES PROJETS</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../contact.html">CONTACT</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

</body>
</html>