<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="../../css/style.css">
  <script defer type="text/javascript" src="../../js/hackEffect.js"></script>
  <script defer type="module" src="../../js/background.js"></script>
  <script defer type="module" src="../../js/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

  <title>Mika CHUE WAYE | Motron</title>
</head>
<body>

<div id="tiles"></div>

<div class="uiBackground"></div>
<div class="uiBackground2"></div>
<div class="uiBackground3"></div>

<div class="content-background">

  <div class="content" id="scrollbar">
    <h1 class="underline fastHacked">project: Motron</h1>
    <p>Motron est un jeu de type "rétro" réalisé dans le cadre de ma S.A.E. du semestre 1 de ma 2e année de B.U.T. Informatique.</p> 
    <div class="details">
      <h3 class="underline">détails</h3>
      <p>En équipe de 5, nous avons établi la méthode agile SCRUM dans le but de garder un contact avec notre client.</p>
      <p>Le projet s'est déroulé en 2 court sprint de 2 semaines puis 2 de 3 semaines avec notre rendu final étant une présentation de l'application déployable sur le marché.</p>
      <h3 class="underline">langages utilisés:</h3>
      <ul>
        <li>Java</li>
        <li>Java FX</li>
        <li>SQL</li>
        <li>CSS</li>
      </ul>
    </div>
  </div>

  <nav class="nav-bar">
    <div class="nav-links">
      <ul>
        <li>
          <a class="hacked hackHover" href="../../index.html">ACCUEIL</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../cv.html">QUI SUIS-JE?</a>
        </li>
        <li>
          <a class="hacked hackHover active" href="../projets.html">MES PROJETS</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../contact.html">CONTACT</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

</body>
</html>