<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="../../css/style.css">
  <script defer type="text/javascript" src="../../js/hackEffect.js"></script>
  <script defer type="module" src="../../js/background.js"></script>
  <script defer type="module" src="../../js/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

  <title>Mika CHUE WAYE | PHPgurine</title>
</head>
<body>

<div id="tiles"></div>

<div class="uiBackground"></div>
<div class="uiBackground2"></div>
<div class="uiBackground3"></div>

<div class="returnButton" onclick="window.open('../projets.html', '_self')"><</div>

<div class="content-background">

  <div class="content" id="scrollbar">
    <h1 class="underline fastHacked">project: PHPgurine</h1>
    <p>PHPgurine est un site d'e-commerce réalisé pour mon projet web du 1er semestre de ma 2e année de B.U.T.</p> <br>
    <p><strong>Lien: </strong><a href="https://webinfo.iutmontp.univ-montp2.fr/~chuem/php/s3/site-e-commerce/web/frontController.php" class="link">PHPgurine</a></p>

    <div class="details">
      <h3 class="underline">détails</h3>
      <p>C'est un site dynamique et responsive, doté d'une base de donnée et d'un système de Cookie et de Sessions</p>
      <br>
      <p>Ce site web propose toutes fonctionnalités de base d'un site e-commerce:</p>
      <br>
      <p>en tant que client:</p>
      <ul>
        <li>consulter les articles disponibles</li>
        <li>créer un compte</li>
        <li>se connecter/déconnecter à un compte</li>
        <li>consulter son panier</li>
        <li>acheter une figurine</li>
        <li>consulter son historique d'achats</li>
      </ul>
      <br>

      <p>en tant qu'administrateur:</p>
      <p>exactement les mêmes fonctionnalités citées ci-dessus mais avec des fonctionnalités en plus:</p>
      <ul>
        <li>créer un compte administrateur</li>
        <li>consulter tous les comptes existants</li>
        <li>supprimer un compte</li>
        <li>supprimer un article</li>
      </ul>
      <h3 class="underline">langages utilisés</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>PL/SQL</li>
        <li>SQL</li>
        <li>JavaScript</li>
      </ul>
      <h3 class="underline">le projet en images :</h3>
      <div class="gallery">
        <img src="../../img/phpgurine/1.png" alt="img1">
        <img src="../../img/phpgurine/2.png" alt="img2">
        <img src="../../img/phpgurine/3.png" alt="img3">
        <img src="../../img/phpgurine/4.png" alt="img4">
        <img src="../../img/phpgurine/5.png" alt="img5">
      </div>
    </div>

  </div>

  <nav class="nav-bar">
    <div class="nav-links">
      <ul>
        <li>
          <a class="hacked hackHover" href="../../index.html">ACCUEIL</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../cv.html">QUI SUIS-JE?</a>
        </li>
        <li>
          <a class="hacked hackHover active" href="../projets.html">MES PROJETS</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../contact.html">CONTACT</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

</body>
</html>