<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="../../css/style.css">
  <script defer type="text/javascript" src="../../js/hackEffect.js"></script>
  <script defer type="module" src="../../js/background.js"></script>
  <script defer type="module" src="../../js/index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

  <title>Mika CHUE WAYE | Portfolio</title>
</head>
<body>

<div id="tiles"></div>

<div class="uiBackground"></div>
<div class="uiBackground2"></div>
<div class="uiBackground3"></div>

<div class="returnButton" onclick="window.open('../projets.html', '_self')"><</div>

<div class="content-background">

  <div class="content" id="scrollbar">
    <h1 class="underline fastHacked">project: Temporal Rift</h1>
    <p>Temporal Rift est un jeu type "Bullet Hell" que j'ai développé en 36h en équipe de 5 pour l'évènement: CodeGameJam 7éme édition Montpellier-Sète</p> <br>
    <p><strong>Lien: </strong><a href="https://mikachue.itch.io/temporal-rift" class="link">Temporal Rift</a></p>
    <div class="details">
      <h3 class="underline">classement :</h3>
      <h4 style="margin-left: 10px">2ème place</h4>
      <h3 class="underline">Qu'est ce qu'une Code Game Jam? :</h3>
      <p>Une Code Game Jam est un évènement où différentes équipes s'affrontent dans un tournoi pour développer un jeu suivant un thème.</p>
      <p>Après les 36h alloués au développement du jeu, les jurys décident des vainqueurs.</p>
      <h3 class="underline">détails :</h3>
      <p>Le thème principal de cette Code Game Jam était "Maîtres du temps"</p>
      <h3 class="underline">langages utilisés :</h3>
      <ul>
        <li>C#</li>
        <li>CSS</li>
      </ul>
      <h3 class="underline">le projet en images :</h3>
      <div class="gallery">
        <img src="../../img/temporalRift/1.png" alt="img1">
        <img src="../../img/temporalRift/2.png" alt="img2">
        <img src="../../img/temporalRift/3.png" alt="img3">
        <img src="../../img/temporalRift/4.png" alt="img4">
      </div>
    </div>
  </div>

  <nav class="nav-bar">
    <div class="nav-links">
      <ul>
        <li>
          <a class="hacked hackHover" href="../../index.html">ACCUEIL</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../cv.html">QUI SUIS-JE?</a>
        </li>
        <li>
          <a class="hacked hackHover active" href="../projets.html">MES PROJETS</a>
        </li>
        <li>
          <a class="hacked hackHover" href="../contact.html">CONTACT</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

</body>
</html>