<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../css/style.css">
    <script defer type="text/javascript" src="../js/hackEffect.js"></script>
    <script defer type="module" src="../js/background.js"></script>
    <script defer type="module" src="../js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

    <title>Mika CHUE WAYE | Portfolio</title>
</head>
<body>

<div id="tiles"></div>

<div class="uiBackground"></div>
<div class="uiBackground2"></div>
<div class="uiBackground3"></div>

<div class="content-background">

    <div class="content" id="scrollbar">
        <h1 class="underline">file: Profile</h1>
        <h1 class="fastHacked" style="margin: 10px 0 10px 0">codename : mika chue waye</h1>
        <h3 class="fastHacked" style="margin: 10px 0 10px 0">profession : étudiant en 3ème année de B.U.T. informatique</h3>
        <h3 class="fastHacked" style="margin: 10px 0 10px 0">mission : trouver une alternance en Informatique (in progress)</h3>
        <div class="details">
            <h2 class="underline">skills</h2>
            <ul>
                <li class="fastHacked">Java</li>
                <li class="fastHacked">Java_FX</li>
                <li class="fastHacked">javascript</li>
                <li class="fastHacked">HTML</li>
                <li class="fastHacked">CSS</li>
                <li class="fastHacked">PHP</li>
                <li class="fastHacked">PL/SQL</li>
                <li class="fastHacked">SQL</li>
                <li class="fastHacked">C#</li>
                <li class="fastHacked">Symfony</li>
                <li class="fastHacked">Méthodes agiles (SCRUM)</li>
            </ul>
            <h2 class="underline">hobby</h2>
            <ul>
                <li class="fastHacked">Dessin traditionel et digital</li>
                <li class="fastHacked">Photograhie</li>
            </ul>
        </div>
    </div>

    <nav class="nav-bar">
        <div class="nav-links">
            <ul>
                <li>
                    <a class="hacked hackHover" href="../index.html">ACCUEIL</a>
                </li>
                <li>
                    <a class="hacked hackHover active" href="#">QUI SUIS-JE?</a>
                </li>
                <li>
                    <a class="hacked hackHover" href="projets.html">MES PROJETS</a>
                </li>
                <li>
                    <a class="hacked hackHover" href="contact.html">CONTACT</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

</body>
</html>