<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../css/style.css">
    <script defer type="text/javascript" src="../js/hackEffect.js"></script>
    <script defer type="module" src="../js/background.js"></script>
    <script defer type="module" src="../js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

    <title>Mika CHUE WAYE | Portfolio</title>
</head>
<body>

<div id="tiles"></div>

<div class="uiBackground"></div>
<div class="uiBackground2"></div>
<div class="uiBackground3"></div>

<div class="content-background">

    <div class="content" id="scrollbar">

        <div class="projects">
            <h1>folder: Projects</h1>
            <ul>
                <lI><a class="hackHover fastHacked" href="projects/PHPgurine.html">Site e-commerce: PHPgurine</a></lI>
                <li><a class="hackHover fastHacked" href="projects/Motron.html">Jeu en JAVA: S.A.E. Motron</a></li>
                <li><a class="hackHover fastHacked" href="projects/TemporalRift.html">Code Game Jam 2023: Temporal Rift</a></li>
                <li><a class="hackHover fastHacked" href="projects/Mediatheque.html">Médiathèque JavaScript</a></li>
                <li><a class="hackHover fastHacked" href="projects/IslandRunner.html">Défi: Réaliser un jeu en 24h (langage utilisé: C#)</a></li>
                <li><a class="hackHover fastHacked" href="projects/Dolibarr.html">Projet SAE semestriel 2024: Déploiement et appairage d'un PGI à une application</a></li>
                <li><a class="hackHover fastHacked" href="projects/MixIt.html">Projet web semestriel 2024: Déployer une API Symfony avec API Platform liée à Vue.js)</a></li>
                <li><a class="hackHover fastHacked" href="projects/PeregrinationAstrale.html">Code Game Jam 2024: Pérégrination Astrale</a></li>
<!--                <li><a class="hackHover fastHacked" href="#">Island</a></li>-->
<!--                <li><a class="hackHover fastHacked" href="#">Island</a></li>-->
<!--                <li><a class="hackHover fastHacked" href="#">Island</a></li>-->
<!--                <li><a class="hackHover fastHacked" href="#">Island</a></li>-->
<!--                <li><a class="hackHover fastHacked" href="#">Island</a></li>-->

            </ul>
        </div>

    </div>

    <nav class="nav-bar">
        <div class="nav-links">
            <ul>
                <li>
                    <a class="hacked hackHover" href="../index.html">ACCUEIL</a>
                </li>
                <li>
                    <a class="hacked hackHover" href="cv.html">QUI SUIS-JE?</a>
                </li>
                <li>
                    <a class="hacked hackHover active" href="projets.html">MES PROJETS</a>
                </li>
                <li>
                    <a class="hacked hackHover" href="contact.html">CONTACT</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

</body>
</html>